{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/uniform.css' %}" />
<link rel="stylesheet" href="{% static 'css/select2.css' %}" />
<link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'css/matrix-media.css' %}" />
<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Server Admin</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="" id="profile-messages" ><a title="" href="#" ><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
    </li>
    <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
      <ul>
        <li><a href="error403.html">Error 403</a></li>
        <li><a href="error404.html">Error 404</a></li>
        <li><a href="error405.html">Error 405</a></li>
        <li><a href="error500.html">Error 500</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
<!--End-Action boxes-->    
      
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Lista de Servidores AWS</h5>
            <span class="label label-info">Featured</span> </div>
          <div class="widget-content ">
            <table id="server_aws" class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>Name</th>
                  <th>ServerId</th>
                  <th>Status</th>
                  <th>PublicIp</th>
                  <th>DNSIp</th>
                  <th>Actions</th>
                  <th style="display:none;" ></th>
                </tr>
              </thead>
              <tbody>
                  {% for server in servers%}
                    <tr class="row_server">
                      <td><input class="checkbox" type="checkbox" /></td>
                      <td class="name">{{ server.name }}</td>
                      <td class="id_server">{{ server.instance_id }}</td>
                      <td class="status">
                         <button type="submit" style="background-color: #{{server.state.col}};">
                            {{ server.state.name }}
                         </button>
                      </td>
                      {% if server.ip_public %}
                        <td class="state">{{ server.ip_public }}</td>
                        <td class="dns_public">{{ server.dns_public }}</td>
                      {% else %}
                        <td class="state" ></td>
                        <td class="dns_public"></td>
                      {% endif %}
                      <td>
                          {% if server.state.name == 'running' %}
                            <button type="submit" class="btn btn-reboot btn-primary">
                              <i class="icon-refresh" aria-hidden="true"></i>
                            </button>
                            <button type="submit" class="btn btn-stop btn-danger">
                              <i class="icon-off" aria-hidden="true"></i>
                            </button>
                          {% else %}
                           <button type="submit" class="btn btn-start btn-success">
                             <i class="icon-play" aria-hidden="true"></i>
                           </button>
                          {% endif %}
                      </td>
                      <td style="display:none;" class="status_name">{{ server.state.name }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
            <button type="submit" id="btn_server" class="btn btn-success">Enviar cambios </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Lista de Grupos de Seguridad AWS</h5>
            <span class="label label-info">Featured</span> </div>
          <div class="widget-content ">
            <table id="server_aws" class="table table-bordered table-striped with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>GroupId</th>
                </tr>
              </thead>
              <tbody>
                  {% for group in group_security%}
                    <tr class="row_group">
                      <td><input class="checkbox" type="checkbox" /></td>
                      {% if group.Tags %}
                          {% for name in group.Tags %}
                              <td class="name">{{ name.Value}}</td>
                          {% endfor %}
                      {% else %}
                          <td class="name"></td>
                      {% endif %}
                      
                      <td class="name">{{ group.Description }}</td>
                      <td class="id_group">{{ group.GroupId }}</td>

                    </tr>
                  {% endfor %}
              </tbody>
            </table>
            <button type="submit" id="btn_group" class="btn btn-success">Enviar cambios </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="title_modal" class="modal-title">TITLE</h4>
      </div>
      <div class="modal-body" id="div_table">
        <h6 id="title_groupid" class="modal-title">ID GROUP</h6>
        <h6 id="title_groupname" class="modal-title">NAME GROUP</h6>
        <h6 id="title_groupdescription" class="modal-title">DESCRIPTION</h6>
        <br>
        <h5 class="modal-title">Inbound</h5>
        <table class="table table-bordered table-hover" id="inbound_table">
            <thead>
            <tr role="row" class="heading">
                <th>FromPort</th>
                <th>ToPort</th>
                <th>Protocol</th>
                <th>IpRanges</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="inbound" class="boding-inbound">
            <tr>
               <td>Category 1</td>
               <td>Category 1</td>
               <td>Category 1</td>
               <td>Category 1</td>
               <td>Category 1</td>
            <tr>
            </tbody>
        </table>
        <br>
        <h5 class="modal-title">Outbound</h5>
        <table class="table table-bordered table-hover" id="outbound_table">
            <thead>
            <tr role="row" class="heading">
                <th>FromPort</th>
                <th>ToPort</th>
                <th>Protocol</th>
                <th>IpRanges</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="outbound" class="boding-outbound">
            <tr>
               <td>Category 1</td>
               <td>Category 1</td>
               <td>Category 1</td>
               <td>Category 1</td>
               <td>Category 1</td>
            <tr>
            </tbody>
        </table>
      </div>
      <div class="modal-body" id="div_form" style="display:none;">
         <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>IdGroup</h5>
        </div>
        <div class="widget-content nopadding">
          <div class="form-horizontal">
          <div class="control-group">
              <label class="control-label">Protocolo : </label>
              <div class="controls">
                <input type="hidden" id="new_id_group" class="span05" />
                <input type="hidden" id="new_type" class="span05" />
                <input type="text" id="new_protocol" data-value-past=""  class="span05" placeholder="Enter Password"  />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">FromIp :</label>
              <div class="controls">
                <input type="text" id="new_fromip"  data-value-past=""  class="span08" placeholder="First name" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">ToIp :</label>
              <div class="controls">
                <input type="text" id="new_toip" data-value-past=""  class="span08" placeholder="Last name" />
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Ip's :</label>
              <div class="controls">
                <input type="text" id="new_ips" data-value-past=""  class="span05" placeholder="Company name" />
                 <span class="help-block">Example Format: 192.168.52.0/24 </span>
              </div>
            </div>
            <div class="form-actions">
             <button type="button" class="btn btn-close btn-default"  id="close_perm">Close</button>
              <button  class="btn btn-success" id="save_perm" disabled="">Save</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div  id="div_footer" class="modal-footer">
        <button type="button" class="btn btn-close btn-default" data-dismiss="modal">Close</button>
        <!--
          <button type="button" class="btn btn-primary">Save changes</button>
        -->
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2017, Jose Evanan </div>
</div>

<!--end-Footer-part-->
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script src="{% static 'js/jquery.ui.custom.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/jquery.uniform.js' %}"></script> 
<script src="{% static 'js/select2.min.js' %}"></script> 
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static 'js/matrix.js' %}"></script> 
<script src="{% static 'js/matrix.tables.js' %}"></script>


<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
var obj_perm = {};
var cont = 0;
var group_id = "";
$('.row_group').click(function(){
  var id_group = $(this).closest('.row_group').find('.id_group').text();
  get_detail_group(id_group);
})


$('#div_form :input').click(function(){
  $("#save_perm").removeAttr("disabled");
})


$('#save_perm').click(function(){
  id_group = $('#new_id_group').val()
  type_event = $('#new_type').val()
  perm_past = {}
  perm_present = {}
  perm_present['protocol'] = $('#new_protocol').val()
  perm_past['protocol'] = $("#new_protocol").data("value-past")
  perm_present['frmoip'] = $('#new_fromip').val()
  perm_past['frmoip'] = $("#new_fromip").data("value-past")
  perm_present['toip'] = $('#new_toip').val()
  perm_past['toip'] = $("#new_toip").data("value-past")
  perm_present['ips'] = $('#new_ips').val()
  perm_past['ips'] = $("#new_ips").data("value-past")
  if (perm_past['ips'] == null){
    perm_past['ips'] = "null"
    }
  alert(perm_past['ìps'])
  $.get(
      '/change_perm/',
      {'id_group': id_group,
       'type_event': type_event,
       'past_protocol': perm_past['protocol'],
       'past_frmoip': perm_past['frmoip'],
       'past_toip': perm_past['toip'],
       'past_ips': perm_past['ips'],
       'present_protocol': perm_present['protocol'],
       'present_frmoip': perm_present['frmoip'],
       'present_toip': perm_present['toip'],
       'present_ips': perm_present['ips']
     },
      function(data){
        console.log("CHANGE!" + data.status)
      }
  );
  $('#div_table').show();
  $('#div_footer').show();
  $('#div_form').hide();
  $("#myModal").modal("hide");
})


function get_detail_group(id_group){
  $.get(
      '/detail_group/',
      {'id_group': id_group},
      function(data){
        var group = data.detail_group.SecurityGroups[0]
        $("#title_modal").text(group.Tags[0].Value)
        $("#title_groupid").text(" ID Group :  " + group.GroupId)
        $("#title_groupname").text(" Name Group :  " + group.GroupName)
        $("#title_groupdescription").text(" Description Group :  " + group.Description)
        obj_perm = {}; 
        cont = 0;
        group_id = group.GroupId;
        perminbound(group.IpPermissions)
        permoutbound(group.IpPermissionsEgress)
      }
  );
  
  setTimeout(function() {
     $("#myModal").modal("show");
  }, 300);
}


function perminbound(data){
  $("#inbound").empty();

  $.each(data, function(i, item) {
    var perm = {}
    if(item.IpProtocol == -1){
        Protocol = "<td >All</td>"
        FromPort = "<td>All</td>"
        ToPort = "<td>All</td>"
        perm['Protocol'] = null;
        perm['FromPort'] = null;
        perm['ToPort'] = -1;

      }else{
        Protocol = "<td>" + item.IpProtocol + "</td>"
        FromPort = "<td>" + item.FromPort + "</td>"
        ToPort = "<td>" + item.ToPort + "</td>"
        perm['Protocol'] = item.IpProtocol;
        perm['FromPort'] = item.FromPort;
        perm['ToPort'] = item.ToPort;
      }
      if((item.IpRanges).length > 0){
        
        for (var i = 0; i < (item.IpRanges).length; i++) {
          IpRanges = "<td>" + item.IpRanges[i].CidrIp + "</td>"
          perm['IpRanges'] = item.IpRanges[i].CidrIp;
          obj_perm[cont+""] = perm
          action = '<td><button type="submit" id="'+cont+'-change-inbound"  onClick="eventGroup(this.id)" class="btn btn-change btn-primary">\
                     <i class="icon-refresh" aria-hidden="true"></i>\
                     </button>\
                    <button type="submit" id="'+cont+'-remove-inbound" onClick="eventGroup(this.id)" class="btn btn-remove btn-danger">\
                      <i class="icon-remove" aria-hidden="true"></i>\
                    </button></td>'
          cont = cont + 1
          $('#inbound').append('<tr class="in-bound">' + FromPort + ToPort + Protocol + IpRanges + action + '</tr>');
        }
      }else{
        
        IpRanges = "<td> </td>"
        perm['IpRanges'] = null;
        obj_perm[cont+""] = perm
        action = '<td><button type="submit" id="'+cont+'-change-inbound"  onClick="eventGroup(this.id)" class="btn btn-change btn-primary">\
                   <i class="icon-refresh" aria-hidden="true"></i>\
                   </button>\
                  <button type="submit" id="'+cont+'-remove-inbound" onClick="eventGroup(this.id)" class="btn btn-remove btn-danger">\
                    <i class="icon-remove" aria-hidden="true"></i>\
                  </button></td>'
        cont = cont + 1
        $('#inbound').append('<tr class="in-bound">' + FromPort + ToPort + Protocol + IpRanges + action + '</tr>');
      }
      
  })
}


function permoutbound(data){
  $("#outbound").empty();
  $.each(data, function(i, item) {
    var perm = {}
      console.log("out ")
      console.log(item)
      if(item.IpProtocol == -1){
        Protocol = "<td class='protocol'>All</td>"
        FromPort = "<td class='fromport'>All</td>"
        ToPort = "<td class='toport'>All</td>"
        perm['Protocol'] = null;
        perm['FromPort'] = null;
        perm['ToPort'] = -1;
      }else{
        Protocol = "<td class='protocol'>" + item.IpProtocol + "</td>"
        FromPort = "<td class='fromport'>" + item.FromPort + "</td>"
        ToPort = "<td class='toport'>" + item.ToPort + "</td>"
        perm['Protocol'] = item.IpProtocol;
        perm['FromPort'] = item.FromPort;
        perm['ToPort'] = item.ToPort;
      }
      IpRanges = "<td class='ipranges'>" + item.IpRanges[0].CidrIp + "</td>"     
      perm['IpRanges'] = item.IpRanges[0].CidrIp;
      obj_perm[cont+""] = perm
      
      action = '<td><button type="submit" id="'+cont+'-change-outbound" onClick="eventGroup(this.id)" class="btn btn-change btn-primary">\
                 <i class="icon-refresh" aria-hidden="true"></i>\
                 </button>\
                  <button type="submit" id="'+cont+'-remove-outbound" onClick="eventGroup(this.id)" class="btn btn-remove btn-danger">\
                    <i class="icon-off" aria-hidden="true"></i>\
                  </button></td>'
      cont = cont + 1
      $('#outbound').append('<tr class="out-bound">' + FromPort + ToPort + Protocol + IpRanges + action + '</tr>');
  })
}



function eventGroup(id_action){
  console.log("eventInbound")
  var id = parseInt((id_action.split("-"))[0])
  var action = id_action.split("-")[1].trim()
  var type = id_action.split("-")[2].trim()
  var perm = obj_perm[id]
  perm['action'] = action
  perm['id_group'] = group_id
  perm['type'] = type
  console.log(perm)
  if(action == "remove"){
    $.get(
      '/action_remove/',
      perm,
      function(data){
        console.log("REMOVE ----- " + data.status)
        $("#myModal").modal("hide");
      }
  )
  }else{
    $('#div_table').hide();
    $('#div_footer').hide();
    $('#div_form').show();
    $('#new_id_group').val(group_id)
    $('#new_type').val(type)
    $('#new_protocol').val(perm.Protocol)
    $("#new_protocol").attr("data-value-past", perm.Protocol);
    $('#new_fromip').val(perm.FromPort)
    $("#new_fromip").attr("data-value-past", perm.FromPort);
    $('#new_toip').val(perm.ToPort)
    $("#new_toip").attr("data-value-past", perm.ToPort);
    $('#new_ips').val(perm.IpRanges)
    $("#new_ips").attr("data-value-past", perm.IpRanges);
  }
  

  //get_detail_group(group_id);
        
}

$('#close_perm').click(function(){
  $('#div_table').show();
  $('#div_footer').show();
  $('#div_form').hide();
})

$('.btn-reboot').click(function(){
  var id_server = $(this).closest('.row_server').find('.id_server').text();
  $.get(
      '/reset_server/',
      {'instance_id': id_server},
      function(data){
        setTimeout(function() {
          window.location.href = "/manager_server/";
        }, 200);
      }
  );
})


$('.btn-stop').click(function(){
  var id_server = $(this).closest('.row_server').find('.id_server').text();
  $.get(
      '/stop_server/',
      {'instance_id': id_server},
      function(data){
        setTimeout(function() {
          window.location.href = "/manager_server/";
        }, 200);
      }
  );
})


$('.btn-start').click(function(){
  var id_server = $(this).closest('.row_server').find('.id_server').text();
  $.get(
      '/start_server/',
      {'instance_id': id_server},
      function(data){
       setTimeout(function() {
          window.location.href = "/manager_server/";
        }, 200);
      }
  );
})


$('#btn_server').click(function(){
    var list_status = []
    $("#server_aws tbody tr").each(function () {
      dict_status = {}
      var id_server = $(this).find('.id_server').text();
      var status = $(this).find('.checkbox');
      dict_status = {'server': id_server, 'status': (status.is(":checked") + '')}
      list_status.push(dict_status)
      })
      var servers = JSON.stringify(list_status)
      $.get(
            '/save_server/',
            {'servers': servers},
            function(data){
            }
        );
    })

//maing larging dataset 

</script>
</body>
</html>
